body, button, textarea {
  font-family: 'Vazirmatn', sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  width: 300px;
}

.container {
  padding: 15px;
}

h2 {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 13px;
  margin-right: 12px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #3182ce;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #2b6cb0;
}

#message {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
}
